<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="css/calendar.css">
    <!-- <script defer src="js/calendarUse.js"></script> -->
</head>
<body>
  <%- include('includes/body.ejs') %>

        <section class="calendar">
          
            <article class="info">
              <form action="/admin/previous" method="post">
                <button class="move--button" type="submit"><</button>
              </form>
              <h2 class="name--month"><%= month%></h2>

              <form action="/admin/next" method="post">
                <button class="move--button" type="submit">></button>
              </form>
              </select>
            </article>
            <article class="month">
                <% for(let op = 1; op < daysInMonth; op++) { %>
                  <article class="day">
                    <p class="number--day"><%=op%></p>
                    
                    <div class="events">
                      <p>asdasdasdasd</p>
                      <p>asdasdasdasd</p>
                      <p>asdasdasdasd</p>
                      <p>asdasdasdasd</p>
                      <p>asdasdasdasd</p>
                    </div>
                    <button class="add-event">â•</button>
                  </article>
             <% } %>
                
            </article>
        </section>
      </main>  
</body>
</html>