<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="css/calendar.css">
    <!-- <script defer src="js/calendarUse.js"></script> -->
</head>
<body>
  <%- include('includes/body.ejs') %>

        <section class="calendar">
            <article class="info">
              <select name="selectMonth" id="" class="select--month">
                <option value="styczen">Styczeń</option>
                <option value="luty">Luty</option>
                <option value="marzec">Marzec</option>
                <option value="kwiecen">Kwiecień</option>
                <option value="maj">Maj</option>
                <option value="czerwiec">Czerwiec</option>
                <option value="lipiec">Lipiec</option>
                <option value="sierpien">Sierpień</option>
                <option value="wrzesien">Wrzesień</option>
                <option value="pazdziernik">Październik</option>
                <option value="listopad">Listopad</option>
                <option value="grudzien">Grudzień</option>
              </select>
            </article>
            <article class="month">
                <% for(let op = 1; op < daysInMonth; op++) { %>
                  <article class="day">
                    <p class="number--day"><%=op%></p>
                    
                    <div class="events">
                      <p>asdasdasdasd</p>
                      <p>asdasdasdasd</p>
                      <p>asdasdasdasd</p>
                      <p>asdasdasdasd</p>
                      <p>asdasdasdasd</p>
                    </div>
                    <button class="add-event">➕</button>
                  </article>
             <% } %>
                
            </article>
        </section>
      </main>  
</body>
</html>