<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/logowanie.css">
<link rel="stylesheet" href="css/forgottenPassword.css">

</head>
<body>
    <main class="main--box">
        <h2 class="title">Podaj adres email</h2>
        <form action="/" class="form--box">
            <input type="text" class="input--box">
            <button class="button--box">Wyślij</button>
        </form>
        <p class="info--text">Zostanie do ciebie wysłany link do resetowania hasła</p>
    </main>
</body>