@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap");
*{
    margin: 0;
    padding: 0;
}
    body{
        display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #3b3b3b,
    #5b5b5b,
    #7c7c7c,
    #a0a0a0,
    #c5c5c5,
    #c4c4c4,
    #c3c3c3,
    #c2c2c2,
    #9c9c9c,
    #777777,
    #545454,
    #343434
  );
  font-family: Montserrat;
  color: white;
  font-size: 5vmax;
    }