@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Font: "Montserrat";
  --Dark: #292929;
  --light:#464646;
  --green:#20de3f;
  --white:#ffffff;
}

.calendar {
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-inline: 4vmax;
  align-items: center;
}
.month--text {
  font-family: var(--Font);
  font-size: 1.8vmax;
  color: var(--green);
}
.month {
  margin-top: 2vmax;
  margin-inline: 4vmax;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  row-gap: 1vmax;
  background-color: var(--light);
  padding: 1vmax;
  place-items: center;
  border-radius: 0.4vmax;
}
.day {
  border: 0.3vmax solid var(--white);
  width: 11vmax;
  border-radius: 0.4vmax;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding-block: 1vmax;
  height: 10vmax;
}
.events {
  /* margin-block: 2vmax; */
  max-height: 5vmax;
  background-color: transparent;
  overflow-y: auto;
  width: 97%;
  color: var(--white);
}
.add-event {
  background-color: transparent;
  padding: 0.2vmax;
  border: none;
  cursor: pointer;
  margin-block: 0.5vmax;
}
.number--day {
  font-size: 2vmax;
  font-family: var(--Font);
  color: var(--green);
  margin-block: 0.5vmax;
}
.select--month {
  padding: 1vmax;
  color: var(--white);
  font-family: var(--Font);
  font-weight: 700;
  background-color: var(--green);
  border: 0.2vmax solid var(--white);
  border-radius: 0.4vmax;
}
.name--month {
  color: var(--green);
  font-size: 1.5vmax;
  font-family: var(--font);
  margin-inline: 1vmax;
}
.move--button {
  background-color: transparent;
  font-family: var(--Font);
  font-size: 1.3vmax;
  border: none;
}
.new--event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 0.1vmax white solid; */
  margin-top: 1vmax;
}
.event--box {
  display: flex;
  flex-direction: column;
  width: 0.1vmax solid var(--white);
  row-gap: 1vmax;
}
.title--box {
  color: var(--green);
  font-size: 1.8vmax;
  text-align: center;
  justify-self: center;
}
.input--event {
  padding: 1vmax;
  border: var(--green) 0.2vmax solid;
  border-radius: 0.4vmax;
  font-family: var(--Font);
  font-weight: 500;
  font-size: 1vmax;
}
.event--text {
  color: var(--white);
  font-family: var(--Font);
  font-size: 1.5vmax;
  background-color: transparent;
  border: none;
  width:9vmax ;
}
.arrow {
  color: var(--white);
  cursor: pointer;
}
.form--box{
  width: fit-content;
  display: flex;
  align-items: center;
}
.delete--button{
  background-color: transparent;
  padding: 0.2vmax;
  color: var(--white);
  border: none;
}
