.task--template,
.date--template,
.priority--template{
    margin: 0;
}
.task--template{
    width: 60%;
    text-align: center;
}
.date--template{
    width: 20%;
    text-align: center;
}
.priority--template{
    width: 20%;
    text-align: center;
}
.task{
    width: 53vmax;
    white-space: nowrap;
}
.date{
    margin-left: 3.3vmax;
}

.priority{
    text-align: end;
    width: 5%;
    margin: 0;
    background-color: transparent;
    border: 0.2vmax solid #20de3f;
    border-radius: 0.4vmax;
}

.main--content--box{
    width: 100%;
}
