@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Font: "Montserrat";
  --Dark: #292929;
  --light: #464646;
  --green: #20de3f;
  --white: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #3b3b3b,
    #5b5b5b,
    #7c7c7c,
    #a0a0a0,
    #c5c5c5,
    #c4c4c4,
    #c3c3c3,
    #c2c2c2,
    #9c9c9c,
    #777777,
    #545454,
    #343434
  );
  overflow-x: hidden;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  padding: 2vmax 2.5vmax;
  font-family: var(--Font);
}
.logo--title--box {
  display: flex;
  align-items: center;
  gap: 1vmax;
}
.list {
  list-style-type: none;
  margin-right: 1vmax;
}
.list--element {
  display: inline;
  margin-right: 1vmax;
  font-size: 1vmax;
}
.section--title,
.title {
  color: var(--white);
  font-size: 3vmax;
  font-family: var(--Font);
}
.section--1 {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.x {
  text-align: center;
  font-family: var(--Font);
  color: var(--white);
  font-size: 4vmax;
  font-weight: 900;
  letter-spacing: 0.3vmax;
}

.link {
  color: var(--white);
  text-decoration: none;
  font-size: 1.2vmax;
}
