@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap");
:root {
  --Font: "Montserrat";
  --Dark: #292929;
  --light:#464646;
  --green:#20de3f;
  --white:#ffffff;
}

.todo--Content {
  margin: 2vmax;
  display: flex;
  flex-direction: column;
}
.input--content {
  display: flex;
  border: 0.2vmax solid var(--white);
  padding: 1vmax;
  border-radius: 0.4vmax;
  background-color: var(--white);
}
.input--button {
  padding: 0.5vmax;
  border-radius: 50%;
  background-color: var(--white);
  border: 0.2vmax var(--green) solid;
}
.input {
  border: none;
  margin-inline: 1vmax;
  font-size: 1.3vmax;
  font-family: var(--Font);
  padding-left: 1vmax;
  width: 90%;
}
.input--date {
  background-color: var(--white);
  border: 0.2vmax var(--green) solid;
  font-family: var(--Font);
  margin-right: 1vmax;
  padding-inline: 1.5vmax;
  font-size: 1.3vmax;
  border-radius: 0.4vmax;
}
.input--select {
  background-color: var(--white);
  border: 0.2vmax var(--green) solid;
  font-family: var(--Font);
  font-size: 1.3vmax;
}
input:active {
  border: 0.2vmax var(--green) solid;
  font-family: var(--Font);
}
.item {
  display: flex;
  background-color: var(--light);
  border-radius: 0.4vmax;
  padding: 1vmax;
  align-items: center;
}
.priority,
.date,
.task {
  color: var(--white);
  font-family: var(--Font);
  font-size: 1.4vmax;
  /* margin-inline: 1vmax; */
  background-color: transparent;
  border: none;
}
.task {
  width: 60%;
  overflow-x: auto;
  padding-left: 1vmax;
  white-space: nowrap;
}
.date {
  width: 20%;
  text-align: center;
  padding-left: 1vmax;
}
.priority {
  width: 20%;
  text-align: center;
  padding-left: 2.9vmax;
}
.delete {
  background-color: transparent;
  border: none;
  font-size: 1.7vmax;
  color: var(--white);
}
.check {
  visibility: hidden;
  width: 1.7vmax;
  height: 1.7vmax;
}
.check--button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50%;
  border: 0.3vmax solid var(--green);
  background-color: var(--white);
}

.checked--button {
  padding: 0.2vmax;

  background-color: var(--green);
}
.item--box {
  background-color: var(--light);
  border-radius: 0.4vmax;
  display: flex;
  flex-direction: column;
  margin-top: 1vmax;
}
.header--item--box {
  display: flex;
  font-weight: 400;
  color: var(--white);
  margin-block: 0.4vmax;
}

.date--template,
.task--template,
.priority--template {
  font-family: var(--Font);
  font-size: 1.3vmax;
}
.task--template {
  width: 60%;
  text-align: center;
}
.date--template {
  width: 20%;
  text-align: center;
}
.priority--template {
  width: 20%;
  text-align: center;
}
.main--content--box {
  width: 95%;
}
.header--item--box {
  max-width: 100%;
}
.todo--Content {
  width: 95%;
  white-space: wrap;
}
