.textarea--box {
  resize: none;
  background-color: #464646;
  border: none;
  border-radius: 0.4vmax;
  width: max-content;
  font-family: var(--Font);
  font-size: 1.5vmax;
  padding: 0.5vmax;
  outline: none;
  color: whitesmoke;
  height: 100%;
  border: white solid 0.2vmax;
border-radius: 0.4vmax;
}
.show--content {
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding-block: 2vmax;
  padding-right: 2vmax;
}
.options--buttons{
  display: flex;
  justify-content: space-between;
  column-gap: 1vmax;
}
.where--add--text,
.add--text {
  background-color: #20de3f;
  font-family: var(--Font);
  color: whitesmoke;
  font-size: 1.3vmax;
  padding: 1vmax 2vmax;
  border: 0.2vmax #20de3f solid ;
  border-radius: 0.4vmax;
  cursor: pointer;
  text-align: center;
  border: white solid 0.2vmax;
border-radius: 0.4vmax;
}
.where--add--text {
  padding: 0.92vmax 2vmax;
  width: 100%;
}

.choose--content{
  background-color: #464646;
  border-radius: 0.4vmax;
  width: 100%;
  height: 100%;
  display: flex;
  margin-right: 2vmax;
}
.add--box{
  display: flex;
  flex-direction: column;
  row-gap: 2vmax;
}
.whichSheet{
  width: 35%;
display: flex;
flex-direction: column;
padding:1vmax;
border: white solid 0.2vmax;
border-radius: 0.4vmax;
}
.sheet{
  width: 65%;
  padding: 1vmax;
  border: white solid 0.2vmax;
border-radius: 0.4vmax;
}
.title--sheet{
  text-align: center;
  font-family: var(--Font);
  color: #20de3f;
  margin-bottom: 1vmax;
}
.sheet--selected{
  color: #20de3f;
}
.note{
  font-size: 1.5vmax;
  color: white;
  white-space: pre-wrap;

}